$def with(title, text)
$var title: $title

<div class="container">

 Hello $text

 <h3>Introduction</h3>
 Small bootstrap web application using Web.py and Boostrap.<p>
 Provides some examples for the following:
 <ul>
     <li>Basic Get and rooting configuration</li>
     <li>Usage of Templates and Layouts</li>
     <li>A simple graph example</li>
 </ul>


 <h3>Dependencies</h3>
 <ul>
     <li>Pythonic web server and rendering: <a href="http://webpy.org"> Web.py</a> </li>
     <li>Graphics: <a href="http://pygal.org">Pygal.org</a> </li>
     <li>HTML,CSS,JS framework for responsive and mobile applications: <a href="http://getbootstrap.com"> Boostrap</a> </li>
     <li>JQuery: <a href="http://jquery.com"> JQuery.com</a> </li>
 </ul>

 <h3>Contact</h3>
  python at didier-dubois.ch

</div>
